/data
/dist
/front/build
/front/dist
/front/node_modules
/front/package-lock.json
/server/__debug_bin
/server/__debug_bin.exe
/server/static/static
/server/static/*.html
/server/static/favicon.ico
/server/static/asset-manifest.json