/data
/dist
/front/build
/front/dist
/front/node_modules
/front/package-lock.json
/sail
/api/cmd/sail/__debug_bin*
/__debug_bin
/__debug_bin.exe
/static/static
/api/cmd/sail/static/*.html
/api/cmd/sail/static/favicon.ico
/api/cmd/sail/static/asset-manifest.json
